.body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #444e63, #3563c0b2);
}

.page {
    width: 97%;
    display: flex;
    flex-direction: row;
}

.page-title {
    text-align: Left;
    font: inherit;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

.half-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 94vh;
    width: 50vw;
}

.history-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top, #178fbe, #011f2b);
    border-radius: 15px;
    width: 400px;
    height: 150px;
    margin-top: 40px;
}

.history-title {
    margin-top: 0%;
    color: #fff;
    font: inherit;
    font-weight: bold;
    font-size: 2rem;
}

.history-button {
    display: flex;
    background-color: #239ccccb;
    color: #fff;
    text-transform: uppercase;
    font: inherit;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    padding: 0.45rem 1rem;
    transition: all 0.5s ease;
    margin-top: 0%;
    margin-left: 10px;
}

.history-button:hover {
    background-color: #239ccccb;
    font-weight: bold;
    cursor: pointer;
}

.image {
    max-width: 100%;
}