.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top, #178fbe, #011f2b);
    border-radius: 15px;
    width: 400px;
    height: 150px;
    margin-top: 40px;
}

.title {
    margin-top: 0%;
    color: #fff;
    font: inherit;
    font-weight: bold;
    font-size: 2rem;
}

.button {
    display: flex;
    background-color: #239ccccb;
    color: #fff;
    text-transform: uppercase;
    font: inherit;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    padding: 0.45rem 1rem;
    transition: all 0.5s ease;
    margin-top: 0%;
    margin-left: 10px;
}

.button:hover {
    background-color: #239ccccb;
    font-weight: bold;
    cursor: pointer;
}