.body {
    display: flex;
    flex-direction: column;
}

.buttons-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.left-container {
    flex: 1;
    display: flex;
    justify-content: left;
}

.center-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.right-container {
    flex: 1;
    display: flex;
    justify-content: right;
}

.filter-button {
    display: flex;
    background-color: #239ccccb;
    color: #fff;
    text-transform: uppercase;
    font: inherit;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    padding: 0.45rem 1rem;
    transition: all 0.5s ease;
}

.states-button {
    display: flex;
    background-color: #239ccccb;
    color: #fff;
    text-transform: uppercase;
    font: inherit;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    padding: 0.45rem 1rem;
    transition: all 0.5s ease;
    margin-left: 10px;
}

.left-button {
    display: flex;
    background-color: #239ccccb;
    color: #fff;
    text-transform: uppercase;
    font: inherit;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    padding: 0.45rem 1rem;
    transition: all 0.5s ease;
    margin-left: 20px;
}

.download-button{
    border-width: 0;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
}

.trash-button{
    border-width: 0;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    cursor: pointer;
    background-color: transparent;
    margin-right: 30px;
    color: #fff;
}

.filter-button:hover {
    background-color: #239ccccb;
    font-weight: bold;
    cursor: pointer;
}

.states-button:hover {
    background-color: #239ccccb;
    font-weight: bold;
    cursor: pointer;
}

.left-button:hover {
    background-color: #239ccccb;
    font-weight: bold;
    cursor: pointer;
}

.download-button:hover {
    cursor: pointer;
    color: green;
}

.trash-button:hover {
    size: "2x";
    cursor: pointer;
    color: red;
}