.body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #444e63, #3563c0b2);
    height: 100vh;
}

.title {
    font: inherit;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    align-self: center;
}

.container {
    display: flex;
    flex-direction: row;
    height: 68vh;
}

.file-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 15px;
    width: auto;
    border-collapse: collapse;
    overflow-x: auto;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.left-container {
    flex: 1;
    display: flex;
    justify-content: left;
}

.center-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.right-container {
    flex: 1;
    display: flex;
    justify-content: right;
}

.info-button{
    border-width: 0;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    cursor: pointer;
    background-color: transparent;
    margin-left: 20px;
}

.info-button:hover {
    cursor: pointer;
    color: green;
}

.entropys-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.entropy-container {
    display: flex;
    flex-direction: row;
}

.filter-entropy-container {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}

.entropy-title {
    font: inherit;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 20px;
}

.entropy {
    font: inherit;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 5px;
}

.filter-button {
    display: flex;
    background-color: #239ccccb;
    color: #fff;
    text-transform: uppercase;
    font: inherit;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    padding: 0.45rem 1rem;
    transition: all 0.5s ease;
    margin-right: 20px;
}

.filter-button:hover {
    background-color: #239ccccb;
    font-weight: bold;
    cursor: pointer;
}