.body {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: Left;
    font: inherit;
    color: #008aa8;
    font-size: 2rem;
    font-weight: 500;
    align-self: center;
}

.file-container {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 15px;
    width: auto;
    height: 600px;
    border-collapse: collapse;
    overflow-y: auto;
    overflow-x: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.button {
    display: flex;
    background-color: #83eede;
    color: #2e3440;
    text-transform: uppercase;
    font: inherit;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    padding: 0.45rem 1rem;
    transition: all 0.5s ease;
    margin-bottom: 10px;
    margin-right: 20px;
}

.button:hover {
    background-color: #83eede;
    font-weight: bold;
    cursor: pointer;
}

.entropys-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: auto;
    margin-right: 20px;
}

.entropy-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.filter-entropy-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 200px;
}

.entropy-title {
    font: inherit;
    color: #008aa8;
    font-size: 1.5rem;
    font-weight: 500;
    align-self: center;
    margin-left: 20px;
}

.entropy {
    font: inherit;
    color: #008aa8;
    font-size: 1.5rem;
    font-weight: 500;
    align-self: center;
    margin-left: 5px;
}