.body {
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #444e63, #3563c0b2);
    width: 100%;
    height: auto;
    border-collapse: collapse;
    overflow-y: auto;
}
 
.title {
    color: #fff;
    margin-left: 50px;
    font: inherit;
    font-weight: bold;
    font-size: 2rem;
}

.dataset-list {
    border-collapse: collapse;
    width: 100%;
    height: auto;
    align-self: flex-start;
    overflow-y: auto;
}

.th {
    text-align: left;
    padding-left: 60px;
}

.th1 {
    text-align: left;
}

.dataset-container {
    margin-top: 10px;
}

.dataset-container:hover {
    background-color: #eeeeeebd;
}

.header-button {
    padding: 10px 0px;
    text-align: left;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    font: inherit;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    transition: all 0.5s ease;
    vertical-align: middle;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}

.header-button:hover {
    cursor: pointer;
    color: rgb(10, 99, 216);
}

.dataset-name-button {
    padding: 5px 10px;
    text-align: left;
    color: black;
    background-color: transparent;
    font: inherit;
    font-size: 1rem;
    border: none;
    transition: all 0.5s ease;
    margin-left: 50px;
    vertical-align: middle;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}

.dataset-name-button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(10, 99, 216);
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
}

.download-button{
    border-width: 0;
    margin-top: 6px;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    cursor: pointer;
    background-color: transparent;
    margin-top: 0px;
}

.download-button:hover {
    cursor: pointer;
    color: green;
}

.trash-button{
    border-width: 0;
    margin-top: 6px;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    background-color: #f9f9fb;
    cursor: pointer;
    background-color: transparent;
    margin-top: 0px;
    margin-right: 20px;
}

.trash-button:hover {
    size: "2x";
    cursor: pointer;
    color: red;
}