.navbar{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 6%;
    width: 100%;
    background-color: #3b4252;
    left: 0;
}

.main-button{
    background-color: #222;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 55px;
    width: 150px;
    display: flex;
    font-weight: bold;
    font-family: Ubuntu-Medium,Arial,Helvetica,sans-serif;
    text-decoration: none;
    color: #83eede;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    transition: all .5s ease;
}

.profile-button{
    position: absolute;
    right: 0%;
    background-color: transparent;
    width: 200px;
    padding-left: 20px;
    text-align: center;
    border:none;
    color: #fff;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    font-size: 1.1rem;
    transition: all .5s ease;
}

.profile-button:hover {
    background-color: #2e3440;
    font-weight: bold;
    cursor: pointer;
}

.main-button:hover {
    background-color: #2e3440;
    font-weight: bold;
    cursor: pointer;
}