.navbar{
    display: flex;
    flex: 1;
    flex-direction: row;
    min-height: 6%;
    max-height: 6%;
    min-width: 100vh;
    background-color: #3b4252;
    left: 0;
}

.main-button{
    background-color: transparent;
    margin: 0;
    width: 65px;
    height: 65px;
    border: none;
    transition: all .5s ease;
    margin-left: 20px;
}

.logo {
    max-width: 100%;
}

.profile-button{
    position: absolute;
    right: 20px;
    background-color: transparent;
    text-align: center;
    border:none;
    color: #fff;
    height: 40px;
    width: auto;
    margin-top: 10px;
    font-size: 1.1rem;
    transition: all .5s ease;
}

.profile-button:hover {
    background-color: #2e3440;
    font-weight: bold;
    cursor: pointer;
}

.main-button:hover {
    background-color: #2e3440;
    font-weight: bold;
    cursor: pointer;
}