.profilebar {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 200px;
    max-width: 200px;
    background-color: #535864;
    left: 0;
}

.button {
    background-color: transparent;
    width: 200px;
    padding-left: 20px;
    text-align: left;
    top: 0;
    border:none;
    color: #fff;
    height: 40px;
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all .5s ease;
}

.logout-button {
    background-color: transparent;
    width: 200px;
    padding-left: 20px;
    text-align: left;
    top: 0;
    border:none;
    color: #fff;
    height: 40px;
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all .5s ease;
    margin-top: auto;
    margin-bottom: 80px;
}

.button:hover {
    background-color: #2e3440;
    font-weight: bold;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #2e3440;
    font-weight: bold;
    cursor: pointer;
}